*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: black;
    --bg-primario: white;
}

html {
  scroll-behavior: smooth;
}

body {
    color: var(--color-primario);
    background-color: var(--bg-primario);
}


html, body{
    text-align: center;
    overflow-x: hidden;
}





/* inicio maquetación header */

#header{
    height: 100vh;
    position: relative;
}

#header > video{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* fin maquetación header */





/* inicio maquetación menú */

.menu{
    position: fixed;
    background-color: black;
    color:rgb(255, 0, 85);
    height: 70px;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu_logo{
font-family: 'Wallpoet', cursive;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
    font-family: 'Audiowide', cursive;
}

.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0deg);
}

.menu_link{
    color:rgb(255, 0, 85);
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu_link:hover{
    background-color: rgb(255, 255, 255);
}

.menu_arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: black;
}

.menu_link--inside{
    padding: 30px 100px 30px 20px;
}

.menu_link--inside:hover{
    background-color: rgb(255, 255, 255);
}

.menu_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img{
    display: block;
    width: 36px;
}
.close_img{
    display: none;
    width: 30px;
}
                
/* fin maquetación menú */





/* inicio maquetación contenidos */

#contenido{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000;
    padding-bottom: 2em;
}

.contenedor-eventos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 450px;
    grid-gap: 30px;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.contenedor-eventos h3{
    padding: 0.5em;
}

.galeria{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5em; /* ajusta a tu gusto */
  background-color: rgb(255, 0, 85);
  color: black;
  font-family: 'Audiowide', cursive;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* evita márgenes por defecto */
  padding: 0; /* evita padding por defecto */
  box-sizing: border-box;
}

#eventos > h2 {
    font-size: 3.5em;
    font-family:'Audiowide', cursive;
    color: rgb(255, 0, 85);
    padding-top: 1em;
    display: inline-block;
}

#eventos > p {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    padding top: 0.5em;
    margin-left: 6em;
    margin-right: 6em;
    color: rgb(255, 255, 255);
}

/* fin maquetación contenidos */





/* inicio maquetación carrusel */

#carouselExample {
  max-width: 100%;
  height: 60vh; /* 80% de la altura de la ventana (ajústalo si quieres más o menos) */
  overflow: hidden;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100%;
}

.carousel-item img {
  object-fit: cover; /* rellena el espacio sin deformar la imagen */
  width: 100%;
}
/* fin maquetación carrusel */





/* inicio maquetación ventana modal */

/* inicio botón */
.boton {
    font-size: 1.5em;
    font-family: 'Audiowide', cursive;
    background-color: rgb(255, 0, 85);
    color: black; /* asegúrate de que sea visible */
    padding: 0.5em 1.5em;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 2em auto;
}
/* fin botón */

/* inicio fondo ventana modal */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding: 4.75em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
/* fin fondo ventana modal */

/* inicio ventana o caja modal */
  .contenido-modal {
    position: relative;
    background-color: rgb(255, 0, 85);
    margin: auto;
    padding: 1.5em;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
  }

  .contenido-modal h2{
    font-family: 'Audiowide', cursive;
    font-size: 2.5em;
    margin-top: 2.5em;
  }

  .contenido-modal h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin-top: 2.5em;
  }

  .contenido-modal p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2.8em;
    margin-bottom: 4em;
  }
/* fin ventana o caja modal */

/* inicio animación */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
/* fin animación */

/* inicio botón cerrar */
  .close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* fin botón cerrar */

/* fin maquetación ventana modal */





/* inicio maquetación carrusel */

#carouselExampleIndicators{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000;
}

/* fin maquetación carrusel */





/* inicio maquetación footer */

#footer {
  height: 3.5em;
  background-color: black;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
}

#footer > p {
  font-size: 1.1em;
  font-family: monospace;
  color: white;
  margin: 0; /* elimina espacios no deseados */
}

/* fin maquetación footer */





/* inicio responsive menú */

@media (max-width:800px){
    .menu_hamburguer{
        display: flex;
    }
    .menu_item{
        --clip: 0;
        overflow: hidden;
    }
    
    .menu_item--active{
        --transform: rotate(0);
        --background: rgb(255, 255, 255);
    }
    
    .menu_item--show{
        background-color: var(--background);
    }
    
    #menu_links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        right: -100%;
        bottom: 0;
        background-color: black;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
    }
    
    .menu_links--show{
        transform: unset;
        width: 100%;
    }
    
    .menu_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }
    
    .menu_arrow{
        margin-left: auto;
        margin-right: 20px;
    }
    
    .menu_nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    
    .menu_link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid rgb(255, 0, 85);
    }
}

/* fin responsive menú */





/* inicio responsive contenido tablet */

@media (max-width:1300px){
        #contenido{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #000;
        padding-bottom: 2em;
    }

    .contenedor-eventos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 450px;
        grid-gap: 30px;
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        padding-top: 2em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .contenedor-eventos h3{
        padding: 0.5em;
    }

    .galeria{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em; /* ajusta a tu gusto */
    background-color: rgb(255, 0, 85);
    color: black;
    font-family: 'Audiowide', cursive;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* evita márgenes por defecto */
    padding: 0; /* evita padding por defecto */
    box-sizing: border-box;
    }

    #eventos > h2 {
        font-size: 3.5em;
        font-family:'Audiowide', cursive;
        color: rgb(255, 0, 85);
        padding-top: 1em;
        display: inline-block;
    }

    #eventos > p {
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        padding top: 0.5em;
        margin-left: 6em;
        margin-right: 6em;
        color: rgb(255, 255, 255);
    }
}

@media (max-width:1000px){
        #contenido{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #000;
        padding-bottom: 2em;
    }

    .contenedor-eventos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 450px;
        grid-gap: 30px;
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        padding-top: 2em;
        margin-left: 4em;
        margin-right: 4em;
    }

    .contenedor-eventos h3{
        padding: 0.5em;
    }

    .galeria{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em; /* ajusta a tu gusto */
    background-color: rgb(255, 0, 85);
    color: black;
    font-family: 'Audiowide', cursive;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* evita márgenes por defecto */
    padding: 0; /* evita padding por defecto */
    box-sizing: border-box;
    }

    #eventos > h2 {
        font-size: 3.5em;
        font-family:'Audiowide', cursive;
        color: rgb(255, 0, 85);
        padding-top: 1em;
        display: inline-block;
    }

    #eventos > p {
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        padding top: 0.5em;
        margin-left: 6em;
        margin-right: 6em;
        color: rgb(255, 255, 255);
    }
}

@media (max-width:800px){
        #contenido{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #000;
        padding-bottom: 2em;
    }

    .contenedor-eventos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 450px;
        grid-gap: 30px;
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        padding-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .contenedor-eventos h3{
        padding: 0.5em;
    }

    .galeria{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em; /* ajusta a tu gusto */
    background-color: rgb(255, 0, 85);
    color: black;
    font-family: 'Audiowide', cursive;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* evita márgenes por defecto */
    padding: 0; /* evita padding por defecto */
    box-sizing: border-box;
    }

    #eventos > h2 {
        font-size: 3.5em;
        font-family:'Audiowide', cursive;
        color: rgb(255, 0, 85);
        padding-top: 1em;
        display: inline-block;
    }

    #eventos > p {
        font-size: 1.3em;
        font-family: 'Montserrat', sans-serif;
        padding top: 0.5em;
        margin-left: 6em;
        margin-right: 6em;
        color: rgb(255, 255, 255);
    }
}

@media (max-width:600px){
    
        #contenido{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #000;
        padding-bottom: 2em;
    }

    .contenedor-eventos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 450px;
        grid-gap: 30px;
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        padding-top: 1em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .contenedor-eventos h3{
        padding: 0.5em;
    }

    .galeria{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .titulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em; /* ajusta a tu gusto */
    background-color: rgb(255, 0, 85);
    color: black;
    font-family: 'Audiowide', cursive;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* evita márgenes por defecto */
    padding: 0; /* evita padding por defecto */
    box-sizing: border-box;
    }

    #eventos > h2 {
        font-size: 3em;
        font-family:'Audiowide', cursive;
        color: rgb(255, 0, 85);
        padding-top: 1em;
        display: inline-block;
    }

    #eventos > p {
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        padding top: 0.5em;
        margin-left: 2em;
        margin-right: 2em;
        color: rgb(255, 255, 255);
    }
}





/* inicio responsive ventana modal para smartphone */

@media (max-width:400px) {

    /* inicio botón */
    .boton {
        font-size: 1.5em;
        font-family: 'Audiowide', cursive;
        margin-top: 3.1em;
        background-color: rgb(255, 0, 85);
    }
    /* fin botón */

    /* inicio fondo ventana modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }
    /* fin fondo ventana modal */

    /* inicio ventana o caja modal */
    .contenido-modal {
        position: relative;
        background-color: rgb(255, 0, 85);
        margin: auto;
        padding: 20px;
        width: 60%;
        -webkit-animation-name: animarsuperior;
        -webkit-animation-duration: 0.5s;
        animation-name: animarsuperior;
        animation-duration: 0.5s
    }

    .contenido-modal h2{
        font-family: 'Audiowide', cursive;
        font-size: 1.5em;
        margin-top: 2.5em;
    }

    .contenido-modal h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4em;
        margin-top: 2.5em;
    }

    .contenido-modal p{
        font-family: 'Montserrat', sans-serif;
        margin-top: 2.8em;
        margin-bottom: 4em;
    }
    /* fin ventana o caja modal */

    /* inicio animación */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
    }
    
    @keyframes animarsuperior {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }
    /* fin animación */

    /* inicio botón cerrar */
    .close {
        color: black;
        float: right;
        font-size: 30px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    /* fin botón cerrar */

}

/* fin responsive ventana modal para smartphone */